diff --git a/app/assets/images/bizcardback.jpg b/app/assets/images/bizcardback.jpg
deleted file mode 100644
index bd2fa85..0000000
Binary files a/app/assets/images/bizcardback.jpg and /dev/null differ
diff --git a/app/assets/images/bizcardfront.jpg b/app/assets/images/bizcardfront.jpg
deleted file mode 100644
index 655e07b..0000000
Binary files a/app/assets/images/bizcardfront.jpg and /dev/null differ
diff --git a/app/views/divisions/_business_card_form.html.erb b/app/views/divisions/_business_card_form.html.erb
index 5a8aa03..cb3405f 100644
--- a/app/views/divisions/_business_card_form.html.erb
+++ b/app/views/divisions/_business_card_form.html.erb
@@ -13,8 +13,8 @@
 
  
 
-<%# top1 = 100 / 300.0 * 2.54%>
-<%# left1 = 100 / 300.0 * 2.54%>
+<% top1 = 100 / 300.0 * 2.54%>
+<% left1 = 100 / 300.0 * 2.54%>
 
 
 <% h = @division.image.height/300.0*2.54%>
@@ -24,7 +24,6 @@
 body { margin:0px; padding:0px; }
 .bgimg{
         background-image: url(<%= @division.image.remote_url %>)  ;
-        
         height: <%= h %>cm;
         width: <%= w %>cm;
         background-size: cover;
@@ -53,40 +52,47 @@ body { margin:0px; padding:0px; }
 
   </div>
 
-  
-
-      <div class="bgimg">
-        <% @division.input_fields.each do |field| %>
-          <style type="text/css">
-          .<%= field.field_name.downcase.gsub(' ', '_') %>   {
-              font-size: 10px;
-              top: <%=field.y_pos/300.0*2.54 %>cm;
-              left: <%=field.x_pos/300.0*2.54 %>cm;
-              position: absolute;
-              text-align: left;
-              line-height: 10px;
-              /*background: black;*/
-              /*opacity: 0.2;*/
-          }
-          </style>
-          <div class="<%= field.field_name.downcase.gsub(' ', '_') %>">
-            <%= params[:"#{field.id}"] %>
-          </div>
-        <% end %>
+  <div class="bgimg">
+
+  <% @division.input_fields.each do |field| %>
+    
+    
+    <style type="text/css">
+    .<%= field.field_name.downcase.gsub(' ', '_') %>   {
+          font-size: 10px;
+          top: <%=field.y_pos/300.0*2.54 %>cm;
+          left: <%=field.x_pos/300.0*2.54 %>cm;
+          position: absolute;
+          text-align: left;
+          line-height: 10px;
+          /*background: black;*/
+          /*opacity: 0.2;*/
+      }
+  </style>
+
+   <div class="<%= field.field_name.downcase.gsub(' ', '_') %>">
+        <%= params[:"#{field.id}"] %>
       </div>
+    
+  <% end %>
 
-      <div class="bgimg2"></div>
-      <% if @division.image_cut.present? %>
-        <style type="text/css">
-          .bgimg3{
-              background-image: url(<%= @division.image_cut.remote_url %>)  ;
-              height: <%= h %>cm;
-              width: <%= w %>cm;
-              background-size: cover;
-              position:relative;
-            }
-        </style>
-      <div class="bgimg3"></div>
-      <% end %>
 
-    <%end%> 
+  </div>
+
+
+  <%# raise %>
+  <div class="bgimg2"></div>
+  <% if @division.image_cut.present? %>
+    <style type="text/css">
+      .bgimg3{
+          background-image: url(<%= @division.image_cut.remote_url %>)  ;
+          height: <%= h %>cm;
+          width: <%= w %>cm;
+          background-size: cover;
+          position:relative;
+        }
+    </style>
+  <div class="bgimg3"></div>
+  <% end %>
+
+<%end%> 
\ No newline at end of file
diff --git a/app/views/divisions/generate.html.erb b/app/views/divisions/generate.html.erb
index 24d0eaa..fcf77c2 100644
--- a/app/views/divisions/generate.html.erb
+++ b/app/views/divisions/generate.html.erb
@@ -1,34 +1,35 @@
-  <div class="row">
-      <div class="col-xs-12">
-          <%#= image_tag("bizcardfront.jpg") %>
-          <h1>
-          	<%= "Business Card Generator for Department: " %>
-          	<strong> <%= @division.name %> </strong>
-          </h1>
-      </div>       
-  </div>
 
-	<div class="row">
-		<div class="col-xs-6"> 
-			<%= form_tag(preview_division_path) do %>
 
-				<% @input_fields.where(division_id: @division.id).each do |field| %>
-				 <div class="form-group">
-				    <%= label_tag "#{field.field_name}:" %>
-				    <%= text_field_tag "#{field.id}", nil, {class: 'form-control'} %>
-				 </div>
-				<% end %>	 	
+<%#= form_tag({:controller => "divisions", :action => "preview"}, {:method => :post}) do %>
+<%= form_tag(preview_division_path) do %>
 
-				<%= submit_tag("Generate", class: "btn btn-default") %> 
+	<%= "Business Card Generator for Department: " %>
+	<strong> <%= @division.name %> </strong>
 
 
+	<br><br>
 
-			<% end %>			
 
-		</div>
-		<div class="col-xs-6">
-          <img src="/assets/bizcardfront.jpg" class="img-responsive"> 
-          <img src="/assets/bizcardback.jpg" class="img-responsive">   
-      </div>
-	</div>
+<!-- THIS EACH DO MUST STILL BE CHANGED TO ONLY  -->
+	<% @input_fields.where(division_id: @division.id).each do |field| %>
+	
+	<%#= field.field_name %>
+	
+	<div class="field">
+	<%= label_tag "#{field.field_name}:" %>
+	<br>
+	<%= text_field_tag "#{field.id}" %>
+ 	</div>
 
+
+
+	<br>
+	<% end %>	 	
+
+
+
+	<%= submit_tag("Generate") %> 
+
+
+
+<% end %>
\ No newline at end of file
diff --git a/app/views/divisions/index.html.erb b/app/views/divisions/index.html.erb
index 16639b1..58ae566 100644
--- a/app/views/divisions/index.html.erb
+++ b/app/views/divisions/index.html.erb
@@ -2,12 +2,31 @@
 
 <h1>Divisions</h1>
 
-<div class="row">
-  <ul class="list-group" >
-  <% @divisions.each do |division| %>    
-    <li class="list-group-item"><%= link_to "#{division.name}", generate_division_path(division) %></li>      
-  <% end %>
-</ul>  
-</div>
+<table>
+  <thead>
+    <tr>
+      <th>Name</th>
+      <th colspan="3"></th>
+    </tr>
+  </thead>
 
+  <tbody>
+    <% @divisions.each do |division| %>
+      <tr>
+        <td><%= division.name %></td>
+        <td><%= link_to ' Generate ', generate_division_path(division) %></td>
+        <td><%= link_to ' Edit ', edit_division_path(division) %></td>
+        <td><%= link_to ' Delete ', division, method: :delete, data: { confirm: 'Are you sure?' } %></td>
+        <td><%= link_to ' Template', division %></td>
+                <td><%#= link_to 'Preview', preview_division_path(division) %></td>
+
+
+      </tr>
+    <% end %>
+  </tbody>
+</table>
+
+<br>
+
+<%= link_to 'New Division', new_division_path %>
 
diff --git a/app/views/divisions/preview.html.erb b/app/views/divisions/preview.html.erb
index fa3a2d6..4a871cf 100644
--- a/app/views/divisions/preview.html.erb
+++ b/app/views/divisions/preview.html.erb
@@ -6,18 +6,36 @@
 <br>
 
 
-<!--  <div class="row"> 
-  <div class="col-xs-6"> -->
-	<%= render 'business_card_form', division: @division %>
-		<br><br>
-		<%= form_tag(division_path(:format=>:pdf), :method => :get) do %>
-    		<% @input_fields.where(division_id: @division.id).each do |field| %>
-    		<%= hidden_field_tag "#{field.id}", params[:"#{field.id}"] %>
-    		<% end %>
-    		<br>
-			<%= submit_tag("PDF Version of Business Card") %>
-			 <%#= submit_tag("PDF Version of Business Card", class: "btn btn-default")%> 
-		<% end %>
-<!--   </div>  
-</div>
- -->
\ No newline at end of file
+<%= render 'business_card_form', division: @division %>
+
+
+
+
+<br><br>
+
+<%= form_tag(division_path(:format=>:pdf), :method => :get) do %>
+
+
+    <% @input_fields.where(division_id: @division.id).each do |field| %>
+    
+    
+  
+    <%= hidden_field_tag "#{field.id}", params[:"#{field.id}"] %>
+
+
+    <% end %>
+
+
+    <br>
+
+    <%= submit_tag("PDF Version of Business Card") %> 
+
+
+
+<% end %>
+
+<%#= link_to('PDF Version of Business Card', division_path(:format=>:pdf)) %>
+<%#= link_to('PDF Version of Business Card', division_path) %>
+
+<%# raise %>
+
diff --git a/app/views/layouts/application.html.erb b/app/views/layouts/application.html.erb
index 880181b..730a43f 100644
--- a/app/views/layouts/application.html.erb
+++ b/app/views/layouts/application.html.erb
@@ -9,9 +9,6 @@
   </head>
 
   <body>
-  	<div class="container">
-		<%= yield %>		
-  	</div>
-    
+    <%= yield %>
   </body>
 </html>
diff --git a/config/routes.rb b/config/routes.rb
index 5ceb9e6..a97d4a3 100644
--- a/config/routes.rb
+++ b/config/routes.rb
@@ -1,16 +1,10 @@
 Rails.application.routes.draw do
-
-  root 'divisions#index'
-
   mount RailsAdmin::Engine => '/admin', as: 'rails_admin'
   # For details on the DSL available within this file, see http://guides.rubyonrails.org/routing.html
 
   resources :companies
 
   resources :divisions, :only => [:index, :new, :create, :show, :destroy, :edit] do
-
-
-
   	member  do 
 		get "generate"
 		post "preview"
diff --git a/dragonfly.log b/dragonfly.log
deleted file mode 100644
index 9bb6b17..0000000
--- a/dragonfly.log
+++ /dev/null
@@ -1,38 +0,0 @@
-# Logfile created on 2016-08-29 21:30:21 +0200 by logger.rb/v1.2.7
-D, [2016-08-29T21:30:21.308237 #21574] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-29T21:38:15.212504 #21574] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:34:41.043801 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:35:06.568178 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:38:40.533131 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:38:56.486273 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:39:09.104623 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:39:14.635925 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:41:25.320754 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:43:49.335178 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:45:46.591953 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:47:21.262914 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:47:45.757806 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:49:18.374153 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:49:53.945206 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:50:00.779723 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:50:22.697945 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:50:24.008972 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:51:05.213750 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:51:06.935690 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:53:51.123911 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:53:54.086957 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:54:39.105939 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:58:45.554826 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:59:25.680958 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:59:26.894683 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T08:59:58.854427 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T09:00:34.412209 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T09:01:53.653071 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T09:01:56.782256 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T09:03:00.974261 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T09:04:02.891351 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T09:04:08.266375 #9157] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/29/7g15ffhbzv_bizcardfront.jpg'
-D, [2016-08-30T09:07:23.097809 #11658] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/30/6sn30i76z3_bizcardfront.jpg'
-D, [2016-08-30T09:07:24.186283 #11658] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/30/6sn30i76z3_bizcardfront.jpg'
-D, [2016-08-30T09:19:23.810815 #11658] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/30/6sn30i76z3_bizcardfront.jpg'
-D, [2016-08-30T09:19:25.557727 #11658] DEBUG -- : DRAGONFLY: shell command: 'identify' '-ping' '-format' '%m %w %h' '/home/nic/cOdin/PerfectCircle/business_card_generator/public/system/dragonfly/development/2016/08/30/6sn30i76z3_bizcardfront.jpg'
