<%= form_for(@division, multipart: true) do |f| %>
  <% if @division.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(division.errors.count, "error") %> prohibited this division from being saved:</h2>
        <ul><% @division.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

<% h = @division.image.height/300.0*2.54%>
<% w = @division.image.width/300.0*2.54%>

<% if preview == "true" %>
  <%  zoom = 2.0%>
  <% else %>
  <%  zoom = 1.0%>
<% end %>

<%= render 'fonts' %>
<style type="text/css">
  body{margin:0px; padding:0px; }
  .bgimg{
        background-image: url("<%= @division.image.remote_url %>")  ;
        height: <%= h*zoom %>cm;
        width: <%= w*zoom %>cm;
        background-size: cover;
        position:relative;
      }
  .bgimg2{
        background-image: url("<%= @division.image_back.remote_url %>")  ;
        height: <%= h*zoom %>cm;
        width: <%= w*zoom %>cm;
        background-size: cover;
        position:relative;
      }     
  .pageBreak { 
        display: block;
        clear:both; 
        page-break-after:always; 
      }
  <%if preview == "true"%>
    .zoom {
        transform: scale(zoom,zoom);
        -ms-transform: scale(zoom,zoom); /* IE 9 */
        -webkit-transform: scale(zoom,zoom); /* Safari and Chrome */
        -o-transform: scale(zoom,zoom); /* Opera */
        -moz-transform: scale(zoom,zoom); /* Firefox */
        }
  <%end%>
  <% if @division.image_cut.present?%>
    .bgimg3{
          background-image: url("<%= @division.image_cut.remote_url %>")  ;
          height: <%= h*zoom %>cm;
          width: <%= w*zoom %>cm;
          background-size: cover;
          position:relative;
          }
  <% end %>
</style>


<div class="bgimg zoom">
  <% @division.business_card_fields.each do |field| %>
    <style type="text/css">
      .<%= field.name.downcase.gsub(' ', '_') %>   {
        font-size: <%=((field.size).to_f*zoom).to_s %>pt;
        color: <%=field.colour%>;
        top: <%=field.y_pos/300.0*2.54*zoom %>cm;
        left: <%=field.x_pos/300.0*2.54*zoom %>cm;        
        <%unless field.font == nil%>font-family:<%=field.font.name%><%end%>;
        font-weight: <%=field.weight%>;
        position: absolute;
        text-align: left;
        line-height: <%=((field.size.to_f)*zoom).to_s %>pt;}
        </style>
    <div class="<%= field.name.downcase.gsub(' ', '_') %>" <% if preview == "false" %> style= "width: <%= (division.image.width - field.x_pos)/300.0*2.54%>cm"; <% end %> >

      <!--TODO: REFACTOR THIS TO MAKE IT MORE OBVIOUS -->
        <% unless session[:field_inputs]["field_#{field.id}"] == nil or session[:field_inputs]["field_#{field.id}"] == "" %>
          <% unless field.prefix == nil or field.prefix == ""%>
            <span style="width:<%=(7*zoom).to_s%>px; display: inline-block;">
              <%= field.prefix %>
            </span>  
          <% end %>
        <% end %>
      <!-- UP TO HERE  -->
               
        <% if field.default == "" or field.default == nil%>
          <%= session[:field_inputs]["field_#{field.id}"] %>

          <% elsif field.prefix? %>
            <span style="width:<%=(7*zoom).to_s%>px; display: inline-block;">
            <%= field.prefix %>
            </span> 
            <%= field.default %>
          <% else %>
            <%= field.default %>
        <% end %>
      </div>                    
    <% end %>
</div>

<!-- TODO: COPY bgimg CODE FOR TEXT PLACEMENT TO bgimg2. ADD .where(page1) TO DIFFERENTIATE -->
<div class="bgimg2 zoom"></div>
<div class="bgimg3 zoom"></div>

<%end%> 
