<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

  <!-- <div class="se-pre-con-<%=@company.slug%>"></div> -->
  <div class="container details <%=@company.slug%>">
    <div class="row details-row1">
        <div class="col-xs-12">
        	<%= render 'generate_email_sig_header'%>     
        </div>       
    </div>
	<div class="row" style= "padding: 40px 214px 0;">

		<div class="col-xs-12 cards">
			<%# raise %>
			<%= image_tag(@division.default_email_sig_image.remote_url) %>
			<%#= render file:  @generated_email_sig_file.path, layout: false, content_type: 'html' %>
    	</div>


		<div class="col-xs-6 form-input" style="width: 100%">
			<%= form_tag(preview_division_path, multipart: true) do %>
			 	<div class="form-group">
			 		<% EmailSigField.joins(:divisions).where("division_id = ? ",@division.id).order(:order).each do |field| %>
				 		<div class="form-group">
				 				<%# raise %>
				    			<%= label_tag "#{field.replace_field}:" %>
				    			<%= text_field_tag "field_inputs[#{field.replace_field}]", (session[:field_inputs].present? and session[:field_inputs]["#{field.replace_field}"].present?) ? session[:field_inputs]["#{field.replace_field}"] : nil , {class: 'form-control'} %>
				 		</div>
					<%end%>	<br> 	
				<!-- TODO: UPLOAD PICTURE ONLY IF TEMPLATE CONTAINS STRING "USER_IMAGE" -->
  				<!-- <%= file_field_tag :picture %> -->
				<!-- TODO: UPLOAD PICTURE ONLY IF TEMPLATE CONTAINS STRING "USER_IMAGE" -->
				</div>
				<div>
					<%= link_to 'Back Home', company_path(@division.company, function: params[:function]), class: "btn-default #{@company.slug}-border #{@company.slug}" %>
					<input type="submit" name="commit" value="Generate" class="btn-default <%=@company.slug%>-bg" >
				</div>
			<% end %>			
		</div>
	</div>
</div>

