<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<div class="se-pre-con-<%=@company.slug%>"></div>
<div class="container details <%=@company.slug%>">
    <div class="row details-row1">
        <div class="col-xs-12">
          <%= render 'generate_card_header' %>    
        </div>       
    </div>
    
	<div class="row" style= "padding: 40px 214px 0;">
		<div class="col-xs-6 form-input">
			<%= form_tag(preview_division_path, multipart: true) do %>
				<% @card_fields.order(:order).each do |field| %>
					<% next unless field.default == "" or field.default == nil%>
		 			<div class="form-group">
		    			<%= label_tag "#{field.name}:" %>
<!-- TODO: REFACTOR OUT THE HACK PREPOPULATE HACK FOR COCACOLA DIVISIONS-->
  			    	<%= text_field_tag "field_inputs[field_#{field.id}]", (session[:field_inputs].present? and session[:field_inputs]["field_#{field.id}"].present?) ? session[:field_inputs]["field_#{field.id}"] : field.pre_populate.present? ? @division.name : nil , {class: 'form-control'} %>
            
            		</div>    
    			<%end%><br>
				<% @division.card_images.where(function: session[:function]).each do |image| %>
					<div class="form-group">
  						<div class="photo-uploader">
        					<div class="photo-input">
	            				<div class="photo-container" style="width:60%; display:none;" data-guillotine-width="<%=image.x_size%>" data-guillotine-height="<%=image.y_size%>">
								</div>
	          					<div id="guillotine-controls" style="display:none;">
						            <!-- <a href="javascript:void(0)" id="rotate_left" title="Rotate left"><i class="ion-reply"></i></a> -->
						            <a href="javascript:void(0)" id="zoom_out" title="Zoom out"><i class="ion-minus-circled"></i></a>
						            <a href="javascript:void(0)" id="fit" title="Fit image"><i class="ion-arrow-shrink"></i></a>
						            <a href="javascript:void(0)" id="zoom_in" title="Zoom in"><i class="ion-plus-circled"></i></a>
						            <!-- <a href="javascript:void(0)" id="rotate_right" title="Rotate right"><i class="ion-forward"></i></a> -->
	          					</div>
					            <%= hidden_field_tag :scale %>
					            <%= hidden_field_tag :angle %>
					            <%= hidden_field_tag :x_axis %>
					            <%= hidden_field_tag :y_axis %>
					            <%= hidden_field_tag :width %>
					            <%= hidden_field_tag :height %>		
	    						<%= file_field_tag "image_#{image.id}", id: "upload", required: true %>
          					</div>
    					</div>
        			</div>
	      		<%end%><!--END OF EACH STATEMENT -->						
				<div>
					<% if @company.slug == "coca-cola" %>
					<%= link_to 'Back to Functions', divisions_path(company: @company, function: params[:function]), class: "btn-default #{@company.slug}-border #{@company.slug}" %>
					<% elsif @company.slug == "airschool43" %>
					<%= link_to 'Back Home', company_path(id: @company.slug), class: "btn-default #{@company.slug}-border #{@company.slug}" %>
					<% end %>
					<input type="submit" name="commit" value="Generate" class="btn-default <%=@company.slug%>-bg" >
				</div>
			<%end%>			
		</div>
		<div class="col-xs-6 cards">
		    <div class="bgimg"><%= image_tag(@card_front_preview.remote_url) %></div>
		    <div class="bgimg2"><%= image_tag(@card_back_preview.remote_url) %></div>
    	</div>
	</div>
</div>

<style type="text/css">
	.ion-minus-circled {
  		font-size: 25px;

	}
	.ion-arrow-shrink  {
  		font-size: 25px;

	}
	.ion-plus-circled {
  		font-size: 25px;

	}
</style>