<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

  <div class="se-pre-con-<%=@company.slug%>"></div>
  <div class="container details <%=@company.slug%>">
    <div class="row details-row1">
        <div class="col-xs-12">
             <%= image_tag(@company.company_logo.remote_url) %>
            <h1>Email Signature for Department: <br> <strong> <%= @division.name %>  </strong></h1>
            <h2>You’re one step closer! Be sure to fill in all your details carefully.<br>
            Once you’re happy that everything is correct, click the “Generate” button and wait for the next page to load. </h2>
         </div>       
    </div>
	<div class="row" style= "padding: 40px 214px 0;">
		<div class="col-xs-7 form-input" style="width: 53.667%">  
			<%= form_tag(preview_division_path) do %>
			 	<div class="form-group">
			 		<% EmailSigField.joins(:divisions).where("division_id = ? ",@division.id).order(:order).each do |field| %>
				 		<div class="form-group">
				 		
				    			<%= label_tag "#{field.replace_field}:" %>
				    			<%= text_field_tag "field_inputs[#{field.replace_field}]", (session[:field_inputs].present? and session[:field_inputs]["#{field.replace_field}"].present?) ? session[:field_inputs]["#{field.replace_field}"] : nil , {class: 'form-control'} %>
				 		</div>
					<%end%>	<br> 	
				
					<%#= form_tag({action: :upload}, multipart: true) do %>
  						<%= file_field_tag 'picture' %>
					<%# end %>

				</div>
				<div>
					<%= link_to 'Back to Functions', company_path(@division.company, function: params[:function]), class: "btn-default #{@company.slug}-border #{@company.slug}" %>
					<input type="submit" name="commit" value="Generate" class="btn-default <%=@company.slug%>-bg" >
				</div>
			<% end %>			
		</div>
		<div class="col-xs-4 cards">
			<%= render file: @division.email_sig_template.path, layout: false, content_type: 'html' %>
    	</div>
	</div>
</div>

