


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<div class="container preview <%=@company.slug%>">
	<div class="row preview-row1">
    	<div class="col-xs-12">
    		<%= render 'preview_email_sig_header' %>
      	</div>       
  	</div>

	<div class="se-pre-con-<%=@company.slug%>"></div>

 	<div class="row preview-row2" style="padding-top: 0px"> 
		<div class="col-xs-12 ">
			<div class="generate-form" style="text-align: center;">
				<%= form_tag(division_path, :method => :get) do %>
					<% EmailSigField.joins(:divisions).where("division_id = ? ",@division.id).each do |field| %>
					<%= hidden_field_tag "#{field.id}", params[:field_inputs][:"#{field.replace_field}"] %>
				<%end%>
	    	    <div class="row preview-row4">
			        <div class="col-xs-12 left">				            
		                 <input type="text"  pattern="[0-9]{10}" oninvalid="setCustomValidity('Please enter a valid Purchase Order number')" onchange="try{setCustomValidity('')}catch(e){}" name = "Purchase Order" class="form-control print-input" placeholder="Enter your Purchase Order Number here&hellip;" required>
           				<input type="submit" style="align: right;" name="250" value= "PRINT" class="btn-default2 <%=@company.slug%>-bg print-submit">
			    	</div>
				</div>
				<%end%>
			</div>
		</div> 
	</div>
</div>
<div class="container">
	<div class="col-xs-12" style="line-height:1.1">	 
	<%= render file: @generated_email_sig_file.path, layout: false, content_type: 'html' %>
	</div>
</div>		
<div class="container preview <%=@company.slug%>">
	<div class="row preview-row2" style="padding-top: 0px"> 	
		<div class="col-xs-12">
		<br><br><%= link_to 'Back to Input', generate_division_path(@division,back:true), class: "btn-default3 #{@company.slug}-border ", style: "margin-left: 0px" %><br><br><br>
		 </div>
		<div class="row preview-row4">
	        <div class="col-xs-12 left">
	            <div>
	            	<div class= "or "></div>
	            </div>
	        </div>       
	    </div>
	</div>  
</div>	


