


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!-- <div class="se-pre-con-<%=@company.slug%>"></div> -->
<div class="container preview <%=@company.slug%>">
	<div class="row preview-row1">
    	<div class="col-xs-12">
    		<%= render 'preview_email_sig_header' %>
      	</div>       
  	</div>

</div>

<div style="padding-left:30%">

<div class="js-emaillink">
	<!-- <div class="col-xs-12" style="line-height:1.1">  -->
  <div class="col-xs-9" style="line-height:initial">
	<%= render file: @generated_email_sig_file.path, layout: false, content_type: 'html' %>
	</div>
</div>

</div>

<!-- <div class="container preview "><div class="col-xs-12 row preview-row4"><div class= "or"></div>	</div></div>
 -->
<div class="container preview <%=@company.slug%>">
  <div class="row preview-row4">
    <div class="col-xs-12 left"><div class= "or"></div>

      <ol>
        <li><strong>Copy email signature</strong>. To do so simply click the COPY button below.</li>
        <li>The next step is to paste your email signature into your email client. For detailed instructions on MS Outlook, click the link below:</li>

        <input type="button" value="Instructions for copying email signature to MS Outlook" class="modal-button" data-toggle="modal" data-target="#myModalOutlook" ></button>
      </ol>
  </div></div>
  <div class="row preview-row2" style="padding-top: 0px">
    <div class="col-xs-12">
      <%= link_to 'Back Home', company_path(id: @company.slug), class: "btn-default3 #{@company.slug}-border ", style: "margin-left: 0px" %>
      <%= link_to 'Back to Input', generate_division_path(@division,back:true), class: "btn-default3 #{@company.slug}-border ", style: "margin-left: 0px" %>
      <input type="button" name="commit" value="  COPY  " class="js-emailcopybtn btn-default <%=@company.slug%>-bg" >


     </div>
  </div> 
</div>  






  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal" id="myModalOutlook" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">How to Copy Email Signature to Outlook</h4>
        </div>
        <div class="modal-body">
          <p>With your signature copied open up Outlook. And follow the below steps:<br><br>
                • <strong>Click File – Options</strong>. An Outlook Option pop up will appear</strong><br>
                • <strong>Select Mail</strong> on the left<br>
                • <strong>Click on the Signature option</strong> on the Right<br><br>
                <img src="/assets/modal_images/outlook_instructions1.png"><br><br>
                • With the Signature and Stationary window opened you will need to <strong>select New</strong><br><br>
                Give the Signature a name you will easily be able to identify it with, this is purely for your reference and doesn’t appear in the email.<br><br>
                • Once you have named your email signature all that is left is for you to place it<br><br>
                In the empty edit signature space you will now <strong>paste the signature</strong> you copied in Internet Explorer<br><br>
                <img src="/assets/modal_images/outlook_instructions2.png"><br><br>
                • With the signature now placed click OK and then in the Outlook Options pop up <strong>click OK</strong> again<br><br>
                Your signature should automatically appear when creating a new email and you can set it to automatically be placed on replies/forwards.
              </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <style>
  .modal-button{
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
}
  </style>



<script>
  var copyEmailBtn = document.querySelector('.js-emailcopybtn');  
  copyEmailBtn.addEventListener('click', function(event) {  
      // Select the email link anchor text  
      var emailLink = document.querySelector('.js-emaillink');  
      var range = document.createRange();  
      range.selectNode(emailLink);  
      window.getSelection().addRange(range);  
      try {  
        // Now that we've selected the anchor text, execute the copy command  
        var successful = document.execCommand('copy');  
        var msg = successful ? 'successful' : 'unsuccessful';  
        console.log('Copy email command was ' + msg);  
      } catch(err) {  
        console.log('Oops, unable to copy');  
      }  
      // Remove the selections - NOTE: Should use   
      // removeRange(range) when it is supported  
      window.getSelection().removeAllRanges();  
  });

</script>

